<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="~/css/Style-header.css" rel="stylesheet" />
    <link href="~/css/Style-footer.css" rel="stylesheet" />
    <link href="~/css/dropdown_menu.css" rel="stylesheet" />

</head>
<body>
    <div class="header">
        <!-- HEADER TOP -->
        <div class="header-top">
            <div class="container">
                <div class="left">
                    <div><i class="fas fa-phone"></i> +0702-500-230</div>
                    <div><i class="fas fa-envelope"></i> thanh261220@gmail.com</div>
                    <div><i class="fas fa-map-marker-alt"></i> 48 Cao Thắng, TP. Đà Nẵng</div>
                </div>
                <div class="right">
                    <div><i class="fas fa-dollar-sign"></i> Số dư</div>
                    <div><i class="fas fa-user"></i> Tài khoản</div>
                </div>
            </div>
        </div>

        <!-- HEADER BOTTOM -->
        <div class="header-bottom">
            <div class="container">

                <!-- Logo -->
                <div class="logo">
                    <img src="~/img/logo.png" alt="Logo">
                </div>

                <!-- Search -->
                <div class="search-box">
                    <input type="text" placeholder="Bạn cần tìm gì ?">
                    <button><i class="fas fa-search"></i></button>
                </div>

                <!-- Hotline -->
                <div class="hotline">
                    <i class="fas fa-headset"></i> Hotline: 19001599
                </div>

                <div class="icons">
                    <div>
                        <i class="fas fa-user"></i>
                    </div>
                    <div>
                        <i class="fas fa-map-marker-alt"></i>
                        <span class="badge">5</span>
                    </div>
                    <div>
                        <i class="fas fa-shopping-cart"></i>
                        <span class="badge">7</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="nabar-container">
            <div class="navbar">
                <div class="menu-left">
                    <i class="fa fa-bars"></i>
                    <span>Tất cả danh mục</span>

                    <div class="dropdown-container">
                        <div class="sidebar">
                            <div class="sidebar-item active" data-tab="danang">Đặc sản Đà Nẵng</div>
                            <div class="sidebar-item" data-tab="hue">Đặc sản Huế</div>
                            <div class="sidebar-item" data-tab="quangnam">Đặc sản Quảng Nam</div>

                        </div>

                        <div class="content-area">
                            <!-- Tab Đà Nẵng -->
                            <div class="tab-content active" id="danang">
                                <div class="header-title">
                                    <div>Đặc sản Đà Nẵng <span class="angle-icon">›</span></div>
                                </div>

                                <div class="products-grid">
                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://statics.vinwonders.com/dac-san-da-nang-1.jpg" alt="Đặc Sản Ẩm Thực Đà Nẵng">
                                        </div>
                                        <div class="product-name">Đặc Sản Ẩm Thực Đà Nẵng</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://th.bing.com/th/id/OIP.ScMsg8yhO8Q_1sYcqZp7bQHaEU?cb=iwc2&rs=1&pid=ImgDetMain" alt="Nước Mắm Nam Ô">
                                        </div>
                                        <div class="product-name">Nước Mắm Nam Ô</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://th.bing.com/th/id/OIP.-2rw7ZA9xtLMRHc-Isw-BAHaFj?cb=iwc2&rs=1&pid=ImgDetMain" alt="Hải Sản Khô Đà Nẵng">
                                        </div>
                                        <div class="product-name">Hải Sản Khô Đà Nẵng</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://duoclieumientay.com/wp-content/uploads/2022/12/cong-dung-cua-tra-thao-duoc-duoc-lieu-mien-tay-06.png" alt="Trà và Thảo Dược Đà Nẵng">
                                        </div>
                                        <div class="product-name">Trà và Thảo Dược Đà Nẵng</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://th.bing.com/th/id/OIP.V4QYszUsBhwYXe_rMTguZAHaFi?cb=iwc2&rs=1&pid=ImgDetMain" alt="Bánh Tráng Túy Loan">
                                        </div>
                                        <div class="product-name">Bánh Tráng Túy Loan</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://th.bing.com/th/id/OIP.l6Jv6erc9o_BjN0Pv0ADYQHaFj?cb=iwc2&rs=1&pid=ImgDetMain" alt="Rong Biển Mỹ Khê">
                                        </div>
                                        <div class="product-name">Rong Biển Mỹ Khê</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://th.bing.com/th/id/OIP.xSas4r2jxrvHplcukqZ9MwHaFh?cb=iwc2&rs=1&pid=ImgDetMain" alt="Đá Mỹ Nghệ Non Nước">
                                        </div>
                                        <div class="product-name">Đá Mỹ Nghệ Non Nước</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://danangaz.com/wp-content/uploads/2018/10/52-min.jpg" alt="Đồ Lưu Niệm Đà Nẵng">
                                        </div>
                                        <div class="product-name">Đồ Lưu Niệm Đà Nẵng</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://th.bing.com/th/id/OIP.FJinsfgjNS-JuX66dBVeMgHaF7?cb=iwc2&rs=1&pid=ImgDetMain" alt="Tinh Dầu Thảo Mộc Đà Nẵng">
                                        </div>
                                        <div class="product-name">Tinh Dầu Thảo Mộc Đà Nẵng</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://toplist.vn/images/800px/ruou-sam-dinh-lang-da-nang-1238580.jpg" alt="Rượu Truyền Thống Đà Nẵng">
                                        </div>
                                        <div class="product-name">Rượu Truyền Thống Đà Nẵng</div>
                                    </div>
                                </div>

                            </div>

                            <!-- Tab Huế -->
                            <div class="tab-content" id="hue">
                                <div class="header-title">
                                    <div>Đặc sản Huế <span class="angle-icon">›</span></div>
                                </div>

                                <div class="products-grid">
                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://statics.vinwonders.com/dac-san-hue-06_1650031359.jpg" alt="Đặc Sản Ẩm Thực Huế">
                                        </div>
                                        <div class="product-name">Đặc Sản Ẩm Thực Huế</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://statics.vinwonders.com/tra-cung-dinh-hue-13_1631763887.jpg" alt="Trà và Thảo Dược Huế">
                                        </div>
                                        <div class="product-name">Trà và Thảo Dược Huế</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://th.bing.com/th/id/OIP.xtmTDlcpcC3RhJ094re9uwHaHH?cb=iwc2&rs=1&pid=ImgDetMain" alt="Dầu Tràm và Tinh Dầu Huế">
                                        </div>
                                        <div class="product-name">Dầu Tràm và Tinh Dầu Huế</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://bizweb.dktcdn.net/100/448/296/files/huong-tram-xu-hue-3.jpg?v=1647677679787" alt="Hương Trầm Huế">
                                        </div>
                                        <div class="product-name">Hương Trầm Huế</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://th.bing.com/th/id/OIP.Pz9q8WmvqMl4kmvo5VhO4QHaFj?cb=iwc2&rs=1&pid=ImgDetMain" alt="Hải Sản Khô Huế">
                                        </div>
                                        <div class="product-name">Hải Sản Khô Huế</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://th.bing.com/th/id/R.8d895ebb086458cd5bd1dab3da08fbbe?rik=m3SKft3CXtIxdA&pid=ImgRaw&r=0" alt="Nón Lá Huế">
                                        </div>
                                        <div class="product-name">Nón Lá Huế</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://ims.baoyenbai.com.vn/NewsImg/8_2021/216211_23-8-hue.jpg" alt="Áo Dài Huế">
                                        </div>
                                        <div class="product-name">Áo Dài Huế</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://th.bing.com/th/id/OIP.RR1wUc50XqG358vaM38zQgHaFY?cb=iwc2&rs=1&pid=ImgDetMain" alt="Tranh Thêu Tay Huế">
                                        </div>
                                        <div class="product-name">Tranh Thêu Tay Huế</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://th.bing.com/th/id/OIP.tJuLgrhfbs-oZaVj5wMcyAHaEK?cb=iwc2&rs=1&pid=ImgDetMain" alt="Đồ Gốm Huế">
                                        </div>
                                        <div class="product-name">Đồ Gốm Huế</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://th.bing.com/th/id/OIP.VpW0bfMk2awnlUv0gRKg_gAAAA?cb=iwc2&rs=1&pid=ImgDetMain" alt="Đồ Lưu Niệm Huế">
                                        </div>
                                        <div class="product-name">Đồ Lưu Niệm Huế</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://toplist.vn/images/800px/royal-wine-ham-ruou-vang-hue-1213528.jpg" alt="Rượu Huế">
                                        </div>
                                        <div class="product-name">Rượu Huế</div>
                                    </div>
                                </div>

                            </div>

                            <!-- Tab Quảng Nam -->
                            <div class="tab-content" id="quangnam">
                                <div class="header-title">
                                    <div>Đặc sản Quảng Nam <span class="angle-icon">›</span></div>
                                </div>

                                <div class="products-grid">
                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://ik.imagekit.io/tvlk/blog/2022/05/dac-san-quang-nam-1-1024x684.jpeg?tr=dpr-2,w-675" alt="Đặc Sản Ẩm Thực Quảng Nam">
                                        </div>
                                        <div class="product-name">Đặc Sản Ẩm Thực Quảng Nam</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://down-vn.img.susercontent.com/file/4b424dc1e1d5c0603bb6429cac4d8154" alt="Nước Mắm Cửa Khe">
                                        </div>
                                        <div class="product-name">Nước Mắm Cửa Khe</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://th.bing.com/th/id/OIP.dVjUa_1BRo0AIlR4MTPfrAHaFB?cb=iwc2&rs=1&pid=ImgDetMain" alt="Bánh Tổ Quảng Nam">
                                        </div>
                                        <div class="product-name">Bánh Tổ Quảng Nam</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://th.bing.com/th/id/OIP.NLQi-eOeC1QwVSe5dnIWIAHaE8?cb=iwc2&rs=1&pid=ImgDetMain" alt="Trà Xanh Quảng Nam">
                                        </div>
                                        <div class="product-name">Trà Xanh Quảng Nam</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://quangnamfood.com/wp-content/uploads/2020/12/ot-xao-hoi-an-e1666853112370.jpg" alt="Tương Ớt Hội An">
                                        </div>
                                        <div class="product-name">Tương Ớt Hội An</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://gomsumoc.com/wp-content/uploads/2023/03/59-1368x800.jpg" alt="Đồ Gốm Thanh Hà">
                                        </div>
                                        <div class="product-name">Đồ Gốm Thanh Hà</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://th.bing.com/th/id/OIP.0FN4sQ60YnIHvZH1-xyq2AHaE4?cb=iwc2&rs=1&pid=ImgDetMain" alt="Lồng Đèn Hội An">
                                        </div>
                                        <div class="product-name">Lồng Đèn Hội An</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://th.bing.com/th/id/OIP.Z5YW_JV0U5cu-H5RlAqHUAHaE8?cb=iwc2&rs=1&pid=ImgDetMain" alt="Đồ Lưu Niệm Quảng Nam">
                                        </div>
                                        <div class="product-name">Đồ Lưu Niệm Quảng Nam</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://nhangquequangngai.com/wp-content/uploads/2023/06/Nu-que-1.jpg" alt="Hương Nhang Quế Quảng Nam">
                                        </div>
                                        <div class="product-name">Hương Nhang Quế Quảng Nam</div>
                                    </div>

                                    <div class="product-card_category">
                                        <div class="product-img">
                                            <img src="https://gomphuctaman.com/wp-content/uploads/2022/07/san-pham-thu-cong-my-nghe-tu-tre.jpg" alt="Thủ Công Mây Tre">
                                        </div>
                                        <div class="product-name">Thủ Công Mây Tre</div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
                <div class="menu-right">
                    <a href="#">Trang chủ</a>
                    <a href="#">Giới thiệu</a>
                    <a href="#">Sản phẩm</a>
                    <a href="#">Blog</a>
                    <a href="#">Liên hệ</a>
                </div>
            </div>
        </div>
    </div>
   
            @RenderBody()
        

    <div class="footer">
        <div class="container">
            <!-- Cột 1 -->
            <div class="footer-column-1">
                <div class="logo-title">
                    <img src="~/img/logo_2.png" alt="Logo" />
                </div>
                <p>
                    Chúng tôi hi vọng tất cả người tiêu dùng Việt Nam được sử dụng những đặc sản ngon nhất miền Trung,
                    dịch vụ tận tâm và trải nghiệm mua sắm tiện lợi tại cửa hàng Đặc sản miền Trung.
                </p>
                <h3>HÌNH THỨC THANH TOÁN</h3>
                <div class="payment-icons">
                    <img src="~/img/paypal.png" alt="PayPal" />
                    <img src="~/img/american express.png" alt="American Express" />
                    <img src="~/img/visa.png" alt="Visa" />
                    <img src="~/img/mastercard.png" alt="MasterCard" />
                </div>
            </div>

            <!-- Cột 2 -->
            <div class="footer-column-2">
                <h3>CHÍNH SÁCH</h3>
                <p>Chính sách thành viên</p>
                <p>Chính sách thanh toán</p>
                <p>Chính sách bảo hành</p>
                <p>Chính sách trả góp</p>
                <p>Bảo mật thông tin cá nhân</p>
            </div>

            <!-- Cột 3 -->
            <div class="footer-column-3">
                <h3>THÔNG TIN CHUNG</h3>
                <p><strong>Địa chỉ:</strong> 48 Cao Thắng, Hải Châu, Đà Nẵng</p>
                <p><strong>Điện thoại:</strong> 19001599</p>
                <p><strong>Email:</strong> dacsanmientrung@gmail.com</p>
                <h3>Kết Nối Sàn</h3>
                <div class="social-icons">
                    <img src="~/img/facebook.png" alt="Facebook" />
                    <img src="~/img/instagram.png" alt="Instagram" />
                    <img src="~/img/twitter.png" alt="Twitter" />
                    <img src="~/img/google.png" alt="Google" />
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/dropdown_danhmuc.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
